

body {
    font-family: 'Quicksand';
    display: flex; /*cajas*/
    justify-content: center;
    align-items: center; /*alinear al centro*/
    flex-direction: column;
    background-color: #1f2030; /* color del fondo */
}

main {
    width: 100%; /*ancho*/
    margin-left: 20px;/*margen izq*/
    margin-right: 20px;
    max-width: 1200px; /*acncho max*/
    margin-top: 20px;
    border-radius: 10px; /*bordes redondos*/
    background-color: rgb(31, 31, 48);
    padding: 20px; /*relleno*/
    box-shadow: 0 0 10px rgba(90, 5, 86, 0.1); /*sombre e la caja*/
    margin-bottom: 20px;
    display: grid; /*cajas acomodables, destinto al flex*/
    grid-template-columns: 2fr 1fr; /*dos columnas de una mide el donle q la otr4a*/
    gap: 20px; /*separacion entre cada una*/
}

header {
    /* ocupare solo el lado que mide 2fr, la columna 1*/
    grid-row: 1;
    text-align: center;
    margin-bottom: 20px;
    background-color: #2d2c5f6b;
    color: #91a5bc;
    padding: 20px;
    border-radius: 10px;
}


header nav ul {
    list-style: none; /*quito los puntitos de la lista*/
    margin: 20px;
    display: flex; /*una cajita por cada palabra*/
    justify-content: center;
    gap: 20px;
}

header nav ul li {
    display: inline; /*una sola linea ocupara*/
}

header nav ul li a {
    color: white;
    font-weight: 800; /*seminegritas*/
}

h1 {
    font-size: 2.5em;

}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #3022ac;
}


p, li {
    line-height: 1.6; /*espacio entre loneas*/
    color: #bebcba;
}

a {
    color: #469aca;
    text-decoration: none;

}

a:hover {
    text-decoration: underline; 
    color: #a2f1f7;
}

.container {
    
    grid-row: 2 / 3;
    margin-bottom: 20px;
    padding: 20px;
   
    border-radius: 10px;
}

.container p {
   text-align: justify;
}

.container2 {
    text-align: justify;
    grid-row: 2 / 3;
    margin-bottom: 20px;
    padding: 15px;
    padding-bottom: 30px;
    background-color: #f5f5f507;
    border-radius: 10px;
  
}

.container2 h2{
    text-align: center;
}

.container3 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-bottom: 20px;
    padding: 20px;
 
    border-radius: 10px;
}

.container6{
    margin-bottom: 20px;
    padding: auto;
    background-color: #f5f5f500;
    border-radius: 10px;
}
.container4, .container5 {
    margin-bottom: 20px;
    padding: 10px;
   
    border-radius: 10px;
}




/*netfliz nana*/
.anime_net{
    display: flex;
    gap: 10px
    ;
}
.netflix img{
    width: 100%;
    object-fit: cover; /* recorta la imagen para cubrir el contenedor */
    object-position: center; /* centra la imagen en el contenedor */
}

.cuadrado-im img{
    width: 250px;
    height: 200px;
    object-fit: fill; /* recorta la imagen para cubrir el contenedor */
    object-position: center; /* centra la imagen en el contenedor */
}

.cuadrado-im{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.netflix {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 360px; /* Ancho fijo */
    height: 200px; /* Alto fijo */
     
}



.anime_net img:hover{
transform: scale(1.2);
transition: 2s;
filter: saturate(50%);
}

.Paradise_Kiss_imagen{
    width: 600px;
    height: 200px;
    overflow: hidden; 
    position: relative;
    border-radius: 10px;
}
.Paradise_Kiss_imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top; 
   
   
}

.Paradise_Kiss_imagen img.top-image {
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
  
}

.Paradise_Kiss_imagen:hover .top-image {
    opacity: 0;
    transition: 4s;
}


/*carrusel de imagenes para los tomos*/
.carrusel-tomos{
    margin-left: 30px;
    text-align: justify;
    width: 350px;   
}

.carrusel-tomos h2{
    padding-top: 10px;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}


.swiper-wrapper{
    width:550px;
  
    margin: 40px;
}

.swiper{
   width: 350px;


}
#Tomos {
    background-color: #7f8c8d2c;
    border-radius: 15px;
}
.swiper-slide img{

    width: 200px;
    
    border-radius: 5px;
    box-shadow: #1f243093;
}


.swiper-slide{
  width: 37rem;
  height: 42rem;
position: relative;

}



/*botones*/



.swiper-button-prev {
    left: 50px;
}

.swiper-button-next {
    right: 50px;
}




/*barra de scroll*/::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #553436; /* Fondo oscuro */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #4b638d, #272c57); /* Gradiente de morado a rosa magenta */
    border-radius: 6px; /* Bordes redondeados */
}
